@import url('./global.css');

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img {
    width: 500px;
    justify-content: center;
}

.info p {
    width: 100%;
    text-indent: 10px;
}