@import url('./global.css');

/* topnavar */

#navbar-wrapper{
    width: 100%;
    padding-block: 1rem;
    background-color: var(--primary-color);
}

#navbar-wrapper #top-navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

/* page header */

.page-header{
    position: relative;
    width: 100%;
    height: 60vh;
}

.page-header .page-header-text-wrapper{
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
}

.page-header .page-header-text-wrapper h2{
    margin-left: 1rem;
    font-style: italic;
}
